body {
	background: rgb(255, 255, 255);
  overflow: hidden;
}

.playArea {
  background-color: black;
	border: 5px solid;
	width: 650px;
	height: 470px;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#fruit {
	display: none;
}

.monitor {
	width: 700px;
	height: 700px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gameOver {
	position: fixed;
	top: 43.2%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 35px;
}
.playButton {
	position: fixed;
	top: 75%;
	left: 50%;
  width: 10%;
	transform: translate(-50%, -50%);
	color: white;
	background: #4f754a;
	border: 2px solid white;
	padding: 10px;
	font-size: 0.9em;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
}

.playButton:hover{
  background-color: #7db676;
}

.scoreBox {
  background-color: white;
	position: fixed; /* Use 'fixed' to keep it in a fixed position on the viewport */
  top: 50%; /* Adjust the top position as needed */
  right: 0; /* Align it to the right side of the viewport */
  transform: translateY(-50%); /* Center it vertically */
  margin: 50px;
	box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
  z-index: 5;
}

h2 {
	font-size: 18px;
	padding: 10px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.image-container {
  position: relative;
  width: 100%;
}

.gif-overlay img {
  position: absolute;
  top: 9%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 60%; /* Adjust the width of the GIF overlay as needed */
  z-index: 2; /* Ensure it appears above the image */
  pointer-events: none; 
}